
body {
    background-color: lightgreen;
}
.page-container {
    width: 100%;
}
.page-container::before {
  content: "";
  background-image: url("./images/caf_bg.jpeg");   
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.project-heading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 100px 0;
  color: black;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.project-subheading {
  color: white;
  text-align: center;
  background-color: black;
  width: 15%;
  position: relative;
}
#team-input {
  width: 15%;
  position: relative;
}
#team-button {
  width: 15%;
  position: relative;
}

/* dropdown feature inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_filter */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  }
  
  .dropdown {
  position: relative;
  display:flexbox;
  }
  
.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  height: 240px;
  overflow: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
  }
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* end of dropdown feature insp above */

.attributes, h3 {
  text-justify: center;
  text-align: center;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}