body {
    background-image: url("/images/caf_bg.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.project-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 100px 0;
    color: white;
}
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.project-subheading {
    color: white;
    text-align: center;
    margin-top: 100px;
    background-color: black;
    width: 15%;
    position: relative;
}
#team-input {
    width: 15%;
    position: relative;
}
#team-button {
    width: 15%;
    position: relative;
}