
.page-container {
    height: 100vh;
    width: 100%;
}
.page-container::before {
    content: "";
    background-image: url("/images/caf_bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.project-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 100px 0;
    color: black;
}
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.project-subheading {
    color: white;
    text-align: center;
    margin-top: 100px;
    background-color: black;
    width: 15%;
    position: relative;
}
#team-input {
    width: 15%;
    position: relative;
}
#team-button {
    width: 15%;
    position: relative;
}