body {
    /* background-color: #57068c; */
    background: linear-gradient(to bottom, #57068c, #ffffff); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, p, ol {
    text-align: center;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: black;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    position: sticky;
    z-index: 3;
    width: 100%;
    top: 0;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 60px;
}
* {
    box-sizing: border-box;
}

.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* the timeline physical ruler in the middle of the screen */
.timeline-container::after {
    content: "";
    position: absolute;
    width: 2%;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
.container-left {
    padding: 10px 35px;
    position: relative;
    width: 50%;
    left: 0;
    margin-bottom: 50px;
}
.container-right {
    padding: 10px 35px;
    position: relative;
    width: 50%;
    left: 50%;
    margin-bottom: 50px;
}
.text-class {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
    width: 100%;
    text-align: center;
  }
p {
    visibility:hidden;
    color: black;
}
ol {
    visibility: hidden;
}
.container-button {
    right: 0;
}
/* before and after styling inspired from W3Schools at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline */
/* left arrows */
.container-left::before {
    content: " ";
    position: absolute;
    top: 10%;
    right: 5%;
    width: 0;
    border: medium solid black;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent black;
    z-index: 1;
}
/* left timeline points on the line */
.container-left::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    right: -3.5%;
    background-color: white;
    top: 10%;
    border-radius: 50%;
    z-index: 1;
}
/*right arrows*/
.container-right::before {
    content: " ";
    position: absolute;
    top: 10%;
    left: 5%;
    border: medium solid black;
    border-width: 11px 11px 11px 0;
    border-color: transparent black transparent transparent;
    z-index: 1;
}
/* right timeline points on the line */
.container-right::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    right: -3.5%;
    background-color: white;
    top: 10%;
    border-radius: 50%;
    z-index: 1;
    left: -0.5%;
}