body {
    background-color: white;
}
.search-container {
    text-align: center;
}

h1 {
    font-size: 3em;
}
.songs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("./resources/music_bg1.png");
}

.song-container {
    margin: 10px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #32CD32;
    border-radius: 20px;
    max-width: fit-content;
}
.song-container:hover {
    background-color: #00FF7F;
}
.song-name, .attributes, .views, a, h1, p, h3, label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.views {
    font-weight: bold;
    font-size: 1.2em;
}

.song-name {
    font-size: 1.5em;
}