
body {
    background-color: #DFD3E3;
}

.image-container {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0px;
    padding: 20px;
  }

.main-image {
    vertical-align:middle;
    width:60%;
    height:450px;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flex-container{
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 50px;
    justify-content: center;
}
.video-container {
    width: 60%; 
    height: 500px; 
}
.description-container {
    width: 40%;
}
iframe {
    vertical-align: middle;
    /* height: 100%;
    width: 100%; */
}
.description-title {
    width: 600%;
}
.footer-container {
    padding: 20px;
    display: flex;
    flex-direction: row; 
    background-color: black;
    justify-content: center;
}
.list-item {
    width: 50%;
    text-align: center;
    color: white;
}

@media screen and (max-width: 728px){
    .flex-container {
        flex-direction: column;
    }
    .video-container {
        height: 30%;
    }
    
}